<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <script defer src="login.js"></script>
</head>

<body>
    <div id="login-field">
        <form action="/login" method="POST">
            <div id="text-field">
                <input type="hidden" name="type" value="login">
                <input type="text" name="id" class="id-field" maxlength="20" placeholder="ID" required>
                <input type="password" name="pw" class="pw-field" maxlength="20" placeholder="PW" required>
            </div>
            <input type="submit" value="login" class="submit-btn">
        </form>
        <button href="/login/register" class="register-btn">Register</button>
    </div>
    <div id="register-field" class="display-none">
        <form action="/login/register" method="post">
            <div id="register-text">
                <input type="text" name="id" maxlength="20" placeholder="id" required>
                <input type="password" name="pw" maxlength="20" placeholder="pw" required>
                <input type="password" name="repw" maxlength="20" placeholder="pw-re" required>
                <input type="text" name="name" maxlength="10" placeholder="name" required>
                <input type="submit" value="register" class="submit-register-btn">
            </div>
        </form>
    </div>
</body>

</html>