* {
  margin: 0;
  padding: 0;
}

#contain {
  margin: 0 auto;
}

header > h1 {
  padding: 28px 0;
  text-align: center;
  font-size: 1.5em;
}

header > h1 > a {
  text-decoration: none;
  color: black;
}

main {
  margin: 0 auto;
  max-width: 860px;
}

#start-menu {
  margin: 0 auto 30px;
  padding: 57px 0 15px;
  border-bottom: 1px solid #ebebeb;
}

#start-menu > span {
  font-weight: 600;
}

#start-menu .write-btn {
  padding: 5px 5px 0 5px;
  float: right;
  border: none;
  background-color: white;
}

#start-menu .write-btn:focus,
#start-menu .write-btn:hover {
  cursor: pointer;
}
#item {
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding: auto;
  margin-bottom: 30px;
}

#item > a {
  display: block;
  text-decoration: none;
  width: 100%;
  min-height: 148px;
}

#item:hover,
#item:focus {
  border: 1px solid #ebebeb;
}

#item .title {
  color: black;
  overflow: hidden;
  padding-bottom: 5px;
  font-weight: 500;
}

#item .body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.93em;
  color: #666;
}

#page-nation {
  margin: 0 auto;
  text-align: center;
  font-size: 150%;
}

#page-nation > a {
  text-decoration: none;
  margin: 0 5px;
}

#page-nation > a:not(:last-child) {
  border-right: 1px solid #dae1e6;
}