#login-field {
  position: relative;
  margin: 500px auto;
  text-align: center;
  width: 30%;
}

#text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}

#text-field > input {
  padding: 15px;
}

.id-field {
  font-size: 15px;
  margin-bottom: 3px;
}

.pw-field {
  font-size: 15px;
  margin-bottom: 10px;
}

.submit-btn {
  width: 100%;
  font-size: 20px;
}

.register-btn {
  float: right;
  text-decoration: none;
}